{{#is "post"}}
  {{#get "posts" limit="4" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags"}}
    <section class="mainbar-list-item has-full-width">
    <div style="padding: 20px;" class="box">

     <script id="c4xzG9sbe3mDoenp">if (window.relap) window.relap.ar('c4xzG9sbe3mDoenp');</script>
     <script id="tEu0iUmJy8kzOnp6">if (window.relap) window.relap.ar('tEu0iUmJy8kzOnp6');</script>
	 <script id="35qa2uMiplympKSk">if (window.relap) window.relap.ar('35qa2uMiplympKSk');</script>

	</div>
    </section>
  {{/get}}
{{/is}}

